.expert {
  padding: 80px 0;
  background: #f7f8fa;
}

.expert__content {
  display: flex;
  align-items: center;
  gap: 60px;
}

.expert__image img {
  width: 350px;
  border-radius: 20px;
}

.expert__info h2 {
  font-size: 40px;
  color: #163d68;
  margin-bottom: 20px;
}

.expert__info h3 {
  margin-bottom: 20px;
}

.expert__info p {
  margin-bottom: 15px;
  color: #6b7280;
}

@media (max-width: 768px) {
  .expert__content {
    flex-direction: column;
    text-align: center;
  }
}
